.box1 {
    border: 1px solid black;
    height: 200px;
    width: 150px;
    background-image: linear-gradient(rgb(238, 255, 0), rgb(0, 255, 191));
    background-image: linear-gradient(to right,red, rgb(238, 255, 0), rgb(0, 255, 191));
    background-image: linear-gradient(to bottom, rgb(231, 213, 213),rgb(245, 245, 0));
}
.box2{ border: 1px solid black;
    height: 200px;
    width: 150px;
    background-image: radial-gradient(circle,red,blue,orange);
    background-image: radial-gradient(yellow 5%,orange 15%, red 10%);


}
h1{
    text-shadow: 3px 3px 5px red;
    /* horizontal vertical blur */
    text-shadow: 3px 3px red;
    text-shadow: 3px 3px red, 5px 5px 10px rgb(201, 245, 4);
}
.box3{
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    box-shadow: -10px -20px red,20px 50px rgb(0, 255, 4);

    /* - me upar direction me jayega aur + me niche  */
}
.box4{
    
    /* max-width aur max-height me content adjust karega lekin limit ke bhar overflow karega */
    max-width: 1000px;
    max-height: 100px;
    

    border: 2px solid black;

    /* is overflow ko control karne ke liye hame overflow ka use karo; */
    overflow: scroll;
}

.box5{
    border: 2px solid black;
    /* min-width: 1000px; */
    min-height: 10px;

    /* min-height me kam se kam toh utni rahegi hi aur content overflow hone pe box bada ho jayega */
}
